<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Meldii.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Meldii.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Meldii.Properties.Settings>
            <setting name="SettingSaveLocation" serializeAs="String">
                <value>Meldii</value>
            </setting>
            <setting name="AddonStorage" serializeAs="String">
                <value>\Melder\addons</value>
            </setting>
            <setting name="MelderInfoName" serializeAs="String">
                <value>melder_info.ini</value>
            </setting>
        </Meldii.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Meldii.Properties.Settings>
            <setting name="FirefallForumsLoginURL" serializeAs="String">
                <value>https://login.firefall.com/login</value>
            </setting>
            <setting name="FirefallForumsAttachURL" serializeAs="String">
                <value>http://forums.firefall.com/community/attachments/</value>
            </setting>
            <setting name="TempStorageLoc" serializeAs="String">
                <value>Meldii\temp</value>
            </setting>
            <setting name="MI_HostURL" serializeAs="String">
                <value>http://goomichan.github.io/Meldii/install.html</value>
            </setting>
            <setting name="MI_HostImgURL" serializeAs="String">
                <value>http://goomichan.github.io/Meldii/images/OneClick.png</value>
            </setting>
            <setting name="Useragent" serializeAs="String">
                <value>Meldii Addon Manager (Hi Tc :3c)</value>
            </setting>
        </Meldii.Properties.Settings>
    </userSettings>
</configuration>