<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.3" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.22.0-pre20150716071016" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.72" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.0.0.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net45" />
</packages>